server:
  port: 8888
  display-name: Config-Server
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Andrzej997/UniversalShopConfigRepository
          clone-on-start: true
          force-pull: true
management:
  context-path: /admin
